{% extends "base.html" %}

{% block content %}
	<h2>Bet History</h2>
	<hr>
	<div class="row">
		<div class="col-md-12">
			<table class="table">
				<tbody>
					<tr>
						<th>#</th>
						<th>Bet</th>
						<th>Choice</th>
						<th>Winnigs</th>
					</tr>
					{% for item in Bets %}
					<tr>
						<td>{{ item.id }}</td>
						<td>{{ item.bet }}</td>
						{% if item.choice == 0 %}
						<td>Win</td>
						{% else %}
						<td>Lose</td>
						{% endif %}
						<td>{{ item.winnings }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}