{% extends "base.html" %}

{% block content %}

	{% if form.errors %}
		<p class="error">Sorry, that's not a valid username or password</p>
	{% endif %}
	<h2>Login</h2>
	<hr>
	<form action="/accounts/auth/" method="post">{% csrf_token %}
		<div class="form-horizontal">
			<div class="form-group">
				<label class="control-label col-md-2" for="id_username">Username</label>
				<div class="col-md-10">
					<input style="max-width: 280px" class="form-control text-box single-line" type="text" id="id_username" name="username" maxlength="15">
					<span class="field-validation-valid text-danger" id="val_username" data-valmsg-replace="true"></span>
					<input id="next" name="next" type="hidden" value="{{next}}">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-md-2" for="id_username">Password</label>
				<div class="col-md-10">
					<input style="max-width: 280px" class="form-control text-box single-line" type="password" id="id_password" name="password">
					<span class="field-validation-valid text-danger" id="val_username" data-valmsg-replace="true"></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input class="btn btn-default" id="id_submit" type="submit" value="Login" />
				</div>
			</div>
		</div>
	</form>

{% endblock %}