{% extends "base.html" %}

{% block content %}

{% if request.user.is_authenticated %}
<div class="jumbotron">
    <h1>Bet App</h1>
    <p><b>Hello {{request.user.username}},</b> this is a simple web app where you can add credits and try your lucky on a bet game.</p>
    <br>
    <p>
    	<a class="btn btn-lg btn-success" href="{% url 'root' %}balance" role="button">Add Credits &raquo;</a>
      	<a class="btn btn-lg btn-primary" href="{% url 'root' %}bet" role="button">Bet Game &raquo;</a>
    </p>
</div>
{% else %}
<div class="jumbotron">
    <h1>Bet App</h1>
    <p>This is a simple web app where you can <a href="{% url 'root' %}accounts/register">sign up</a>, add credits and try your lucky on a bet game.</p>
    <br>
    <p>
      	<a class="btn btn-lg btn-success" href="{% url 'root' %}accounts/register" role="button">Sign up &raquo;</a>
      	<a class="btn btn-lg btn-primary" href="{% url 'root' %}accounts/login" role="button">Sign in &raquo;</a>
    </p>
</div>
{% endif %}
{% endblock %}