{% extends "base.html" %}
{% load staticfiles %}
    <!-- Bootstrap core CSS -->
{% block content %}
  		
	{% if form.errors %}
		<div class="alert alert-danger" role="alert"><b>Ohh!</b> {{ form.errors }}{{ form.non_field_errors }}</div>
	{% endif %}
	{% if success == True %}
	<div class="alert alert-success" role="alert"><b>Well done!</b> You have successfuly updated your password!</div>
	{% endif %}
	<h2>Password</h2>
	<hr>
	<form action="/accounts/password/" method="post">{% csrf_token %}
	<div class="form-horizontal">
		<div class="form-group">
			<label class="control-label col-md-2" for="id_password1">New Password</label>
			<div class="col-md-10">
				<input style="max-width: 280px" class="form-control text-box single-line" type="password" id="id_password1" name="new_password1" maxlength="30">
				<span class="field-validation-valid text-danger" id="val_newPass1" data-valmsg-replace="true"></span>
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-md-2" for="id_password2">Email:</label>
			<div class="col-md-10">
				<input style="max-width: 280px" class="form-control text-box single-line" type="password" id="id_password2" name="new_password2" />
				<span class="field-validation-valid text-danger" id="val_newPass2" data-valmsg-replace="true"></span>
			</div>
		</div>
		<hr>
		<div class="form-group">
			<label class="control-label col-md-2" for="id_Oldpassword">Old Password:</label>
			<div class="col-md-10">
				<input style="max-width: 280px" class="form-control text-box single-line" type="password" id="id_Oldpassword" name="old_password" />
				<span class="field-validation-valid text-danger" id="val_oldPass" data-valmsg-replace="true"></span>
			</div>
		</div>	
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input class="btn btn-default" id="id_submit" type="submit" value="Update" />
			</div>
		</div>
	</div>
	</form>

{% endblock %}